.overlay-menu{
    display:none;
}
.hamburger{
    display:none;
}
body {
    background-color: #1a191b;
    margin: 0;
    padding: 0;
}
.header-wrapper{
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 40px 60px;
}
.nav-wrapper{
    width: fit-content;
}
.login-wrapper{
    display:flex;
    flex-wrap: wrap;
    background: #689891;
    box-shadow: #4a6e69 2px 5px;
    border-radius: 36px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: Bold;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    height: 60px;
    width: 120px;
}
.login-button{
    display: inline;
    text-decoration: none;
    color: white;
    align-items: center;
}
.navbar ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: 3px;
    background-color: white;
    border-radius: 2px;
}
.navbar{
    background: #689891;
    position: fixed;
    left: 50%; 
    top: 40px;
    transform: translatex(-50%);
    border-radius: 36px;
    box-shadow: #4a6e69 2px 5px;
    height: 60px;
    align-content: center;
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 0;  
    padding: 0 20px;                
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: Bold;
    transition: color 0.3s ease;
}
.navbar ul li {
    position: relative;
    padding: 0 20px; /* spacing between text & divider */
}
.navbar ul li a:hover {
    color: white;             
}

.overlay-menu ul li {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.overlay-menu.active ul li {
    opacity: 1;
    transform: translateY(0);
}

.overlay-menu.active ul li:nth-child(1) { transition-delay: 0.1s; }
.overlay-menu.active ul li:nth-child(2) { transition-delay: 0.2s; }
.overlay-menu.active ul li:nth-child(3) { transition-delay: 0.3s; }
.overlay-menu.active ul li:nth-child(4) { transition-delay: 0.4s; }
.overlay-menu.active ul li:nth-child(5) { transition-delay: 0.5s; }
.overlay-menu.active ul li:nth-child(6) { transition-delay: 0.6s; }

.logo-wrapper{
    display: flex;
}
.logo img{
    display: inline;
    width: fit-content;
    height: 60px;
    left: 10px;
    z-index: 1000;
}
p{
    color: white;
    margin: 60px 100px;
    font-family: "Inter", sans-serif;
}

.carousel{
    margin:20px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-mask-image: linear-gradient(to right, 
        transparent 0%, 
        rgba(0,0,0,0.8) 15%, 
        black 50%, 
        rgba(0,0,0,0.8) 85%, 
        transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to right, 
        transparent 0%, 
        rgba(0,0,0,0.8) 15%, 
        black 50%, 
        rgba(0,0,0,0.8) 85%, 
        transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: spin-right 20s infinite linear;
    padding-right: 1em;
    padding-bottom: 1em;
}
.group2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: spin-left 20s infinite linear;
    padding-right: 1em; 
    padding-bottom: 1em;
}
.card{
    background: #689891;
    box-shadow: #4a6e69 2px 5px;
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
    border-radius: 1em;  
    text-align: left;
    align-content: center;
    color: white;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}
.hero{
    margin-top: 80px;
}
@keyframes spin-right{
    from {translate: 0;}
    to {translate: -100%;}
}
@keyframes spin-left{
    from {translate: -100%;}
    to {translate: 0;}
}

.card p{
    font-size: 0.3em;  
    margin: 0;
    text-align: left;
    color: white;
    text-overflow: ellipsis; 
    flex: 1; 
}
.card h1{
    font-size: 0.2em;
    text-align: left;
    margin: 0;
}
#quote{
    font-size: 2em;         
    line-height: 1;
    font-family: "Montserrat", sans-serif;
}

.card > span {
    display: flex;          
    align-items: center;
    margin: 0.2em 0.2em 0.2em 0;
    font-family: "Inter", sans-serif;
    gap: 0.2em;
    text-align: left;
    justify-content: left;
}
.card > span img.profile-testimonial {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%; 
    flex-shrink: 0;
}
.card > span span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card > span span h1 {
    font-size: 0.3em;
    margin: 0;
}

.card > span span p {
    font-size: 0.2em;
    margin: 0;
    color: #ccc; 
}
.profile-testimonial{
    max-width: 4em;
    height: auto;
}
#kmini{
    width: fit-content;
}
